<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @member.first_name %></p>
    <p>
      Someone requested your membership number be sent to you,
      your membership number is: <strong><%= @member.membership_number %></strong>.<br>
    </p>
  </body>
</html>
