<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to London Decompression, <%= @member.first_name %></h1>
    <p>
      You have successfully registered as a member,
      your membership number is: <strong><%= @member.membership_number %></strong>.<br>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
