<h1>Success</h1>

<p>You will receive an email confirming your membership together with your
membership number. You can then use your membership number to buy a
ticket for London Decompression and for any other events organised by London
Decompression Ltd, if tickets are available. You can retrieve and check your
membership number and name in future by entering your email address on this
site.</p>
